# Session 2

In [1]:
country='nepal'

In [2]:
country

'nepal'

In [3]:
ord(a)

NameError: name 'a' is not defined

In [4]:
ord('a')

97

In [5]:
ord('A')

65

In [6]:
ord('Z')

90

In [7]:
chr('91')

TypeError: an integer is required (got type str)

In [8]:
chr(91)

'['

In [9]:
chr(96)

'`'

In [10]:
char(2344)

NameError: name 'char' is not defined

In [11]:
chr(2344)

'рди'

In [12]:
b'a'

b'a'

In [13]:
'string 1'+'string2'

'string 1string2'

In [14]:
address="Kathmandu, Nepal"

In [15]:
address

'Kathmandu, Nepal'

In [16]:
address[0]

'K'

In [17]:
address[16]

IndexError: string index out of range

In [18]:
address[15]

'l'

- indexing operator '[ ]'

- slicing address[start:end}

In [19]:
address[7]

'd'

In [21]:
address[1:7]

'athman'

- start is inclusive while end is exclusive

In [23]:
address[0:9]

'Kathmandu'

In [24]:
address[:]

'Kathmandu, Nepal'

In [25]:
len(address)

16

In [27]:
address[15]

'l'

In [28]:
address[:16]

'Kathmandu, Nepal'

In [30]:
address[:15]

'Kathmandu, Nepa'

In [31]:
address[2:9:2]

'tmnu'

[start:stop:step]

In [32]:
address[9:2]

''

In [33]:
address[::-1]

'lapeN ,udnamhtaK'

In [34]:
address[-1]

'l'

In [38]:
address[::1]

'Kathmandu, Nepal'

In [39]:
address[9:2:-1]

',udnamh'

In [40]:
address[-3:-8]

''

In [41]:
address[-8:-3]

'u, Ne'

In [4]:
example='''This black cockatoo has a short crest, mostly greyish-black plumage, prominent white cheek patches, and a white tail band. '''

- black
- aa
- tail
- white

In [5]:
example[7]+example[15]

'aa'

In [6]:
example[5:10]

'black'

In [7]:
example[-11:-7]

'tail'

In [8]:
example[-17:-12]

'white'

In [9]:
example[7:16:8]

'aa'

# string operations

In [84]:
#length od string
len('address')

7

In [85]:
'kathmandu'.upper()

'KATHMANDU'

In [86]:
city='kathmandu'
city.upper()

'KATHMANDU'

In [87]:
#do not use this styling
'kathmandu' . upper()
'Kathmandu' . upper()

'KATHMANDU'

In [88]:
#lower
'KATHMANDU'.lower()

'kathmandu'

In [90]:
city.count('a')

2

In [92]:
'amoled'.count('m')

1

In [93]:
city.index('t')

2